%html
  %head
    %title Is It Shabbos Yet?
    %script{:type => "text/javascript", :src => "https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"}
    :javascript
      $(document).ready(function() { $.getJSON('/zipcode/11211', function(data) { $("h1").text(data.h1).load(); $("h2").text(data.h2).load(); $(".debug").text(data.debug).load(); $(".end").text(data.end).load(); }); });
  %body
    %results
      %h1 Loading...
      %h2
        = @why
    %div.myForm
      Enter your zipcode:
      %form{:method => "get", :action => "javascript:jQuery.noop();"}
        %input{:name => "zipcode", :value => "11211"}
        %input{:type => "submit", :value => "Go"}
    %div.debug
      %p Today
    %div.end
      %p End_Time
    :javascript
      $("input:first").focus(function () { $(this).attr('value', ''); });
    :javascript
      $("form").submit(function() { 
        $.getJSON('/zipcode/' + $("input:first").val(), function(data) {
          $("h1").text(data.h1).load();
          $("h2").text(data.h2).load();
          $(".debug").text(data.debug).load(); 
          $(".end").text(data.end).load(); 
        });
      });
